@import "../../../../const.scss";

header {
  align-items: center;
  background-color: $base;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  height: 60px;
}
h2 {
  margin: 0;
  color: white;
}

.button {
  margin-left: 70px;
}
