@import "../../../../../const.scss";

.container {
  align-items: center;
  display: flex;
  justify-content: center;
}
textarea {
  background-color: $lighter;
  font-size: 20px;
  padding: 15px;
  margin: 20px;
  height: 87vh;
  width: 95%;
}
.empty-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
h3 {
  color: #fff;
}

.mat-raised-button {
  background-color: rgb(34, 162, 194);
}
